header {
    display: flex;
    justify-content: space-between;
    background-color: #003049;
    align-items: center;
    color: #e9e2bc;
    font-family: 'Josefin Sans', sans-serif ;
    font-style: italic;
    text-decoration: none;
    padding: .5rem;
}
header img {
    width: 5rem;
    display: block;
}
nav>a {
    text-decoration: none;
    color: #e9e2bc;
    font-size: 1.5rem;
    padding: .5rem;
}
nav>a:hover {
    color: #8a8670;
}
.start {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60% auto;
}
.start img {
    max-width: 100%;
    margin: 0;
}
.logo {
    padding: 2rem;
    background-color: #30050e;
    margin: 0;
    grid-area: 1/1/1/1;
    padding-bottom: 5rem;
}
.low {
    padding: 0;
    grid-area: 1/2/2/2;
}
.start>h2 {
    grid-area: 2/1/2/1;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    text-align: center;
    color: #003049;
    font-size: 2rem;
}
.gray {
    max-width: 100%;
}
.about {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}
.about>h3 {
    font-style: italic;
    color: #003049;
}
.tan {
    background-color: #e9e2bc;
    padding: 1rem;
    width: 100%;
    margin: 0;
}
.yellow {
    background-color: #fbbf4a;
    padding: 1rem;
    width: 100%;
}
.orange {
    background-color: #f67f00;
    padding: 1rem;
    width: 100%;
}
section {
    font-family:'Josefin Sans', sans-serif;
    background-color: #003049;
    text-align: center;
    color: #fbbf4a;
}
section img {
    width: 15rem;
}
section>h2 {
    padding:1rem;
    margin: 0;
}
.logos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.c1 {
    grid-area: 1/2/1/2;
}
.c2 {
    grid-area: 2/2/2/2;
}
.c3 {
    grid-area: 3/2/3/2;
}
section>h3 {
    color:#fbbf4a;
    font-style: italic;
}
.posters img {
    padding: 1rem;
}
.other img {
    padding: .5rem;
    width: 10rem;
}
.other {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;

}
footer img {
    max-width: 50%;
}
footer {
    background-color: #d52829 ;
    color: white;
    font-family:'Josefin Sans', sans-serif;
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.contact>h2 {
    font-style: italic;
}
.contact>h4 {
    font-size: .9rem;
}
.contact {
    padding: .3rem;
}
@media (min-width:1000px) {
    .start>h2 {
        font-size: 5rem;
    }
    .about{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 40% 20% 40%;
    }
    .p1 {
        grid-area: 1/1/1/1;
    }
    .gray {
        grid-area: 1/2/3/2;
    }
    .about>h3 {
        grid-area: 2/1/2/1;
        font-size: 3rem;
    }
    .p2 {
        grid-area: 3/1/3/1;
    }
    .logos {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logos img {
        padding: 1rem;
    }
.posters {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.other {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
 p {
        padding: 1rem;
    }
    footer img {
        max-height: 20rem;
    }
    footer {
        place-items:center;
    }
    .contact>h2 {
        font-size: 4rem;
    }
    .contact {
        text-align: center;
    }
    h4 {
        font-size: 2rem;
    }
    .start {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    gap: 0;
}
}